body {
    margin: 0;
    height: 100%;
    color: #555555;
    font-size: 14px;
}

header {
    overflow: hidden;
}

nav.ui.inverted.menu {
    background-color: #333;
    border-radius: 0;
}

.left-width {
    width: 167px;
}

.horizon-center {
    text-align: center;
}

.msg-container {
    margin: 0 1em;
}

.ui.floating.label.msg-location {
    margin: 1.2em 0 0 -2.2em !important;
}

.right-margin {
    margin-right: 1.2em;
}

a {
    text-decoration: none;
    cursor: pointer;
}

.header-url {
    float: right;
    font-size: 1.2em;
}

.header-url a, .header-all a:visited {
    color: #D3D3D3;
}

.header-url a:hover {
    color: #FFF;
}

.container {
    width: 100%;
    overflow: hidden;
    margin-bottom: 33px;
    display: -webkit-flex;
    display: flex;
    margin-top: 3em;
}

.sidebar-menu {
    height: 100vh;
    float: left;
    background-color: #D3D3D3;
    width: 167px;
    margin-right: 1.7em;
    position: fixed;
    z-index: 1;
    margin-bottom: 33px;
}

.sidebar-toggler-wrapper {
    overflow: hidden;
}

.sidebar-toggler {
    border-radius: 5px 0 0 5px;
    width: 25px;
    height: 25px;
    margin: 1.7em 0;
    float: right;
    background-color: #FFFFFF;
    cursor: pointer;
}

#angle-icon {
    margin: 0 0 0.2em 0;
    line-height: 25px;
    cursor: pointer;
}

div .ui.menu {
    background: #D3D3D3;
    line-height: 20px;
    margin-top: -0.3em;
}

.ui.vertical.menu {
    width: 166px;
    border-radius: 0;
    background-color: #D3D3D3;
}

.ui.vertical.menu .item>i.icon {
    float: left;
    margin: 0 1.3em 0 0;
}

.content {
    margin-left: 183px;
    margin-top: 13px;
    overflow: hidden;
    flex: 1;
}

.breadcrumb {
    background-color: #D3D3D3;
    width: 100%;
    border-radius: 4px;
    padding: 0.7em 0 0.7em 1.5em;
}

.breadcrumb .section {
    font-size: 120%;
}

.ui.breadcrumb a, .ui.breadcrumb a:visited, .ui.breadcrumb a:hover {
    color: rgba(0, 0, 0, 0.8);
}

footer {
    height: 2em;
    line-height: 2em;
    position: fixed;
    width: 100%;

    bottom: 0;
    z-index: 2;
    background-color: #333;
}

.bottom-text {
    color: rgba(211, 211, 211, 0.5);
    text-align: center;
}

.ui.form textarea {
   height: 4em;
   min-height: 4em;
   max-height: 8em;
}

.form-line {
    overflow: hidden;
}

.form-label {
    float: left;
    font-weight: 700;
    text-align: right;
    width: 130px;
    margin: 0.5em 0;
}

.form-content {
    text-align: left;
    margin-left: 150px;
    overflow: hidden;
}

.content-line {
    overflow: hidden;
    text-align: left;
    word-break: break-all;
    margin: 0.5em 0;
}

.ui.form .content-line-text, .ui.form .content-line textarea,
.ui.form .content-line input, .ui.form .content-line select {
    max-width: 268px;
    float: left;
    margin-right: 18px;
}

.content-line-unit {
    float: left;
}

.ui.form .content-line .ui-modal{
    max-width: 120px;
    float: left;
}

.content-line-btn {
    background-color: #E0E0E0;

    border: medium none;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    font-fmaily: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
    font-style: normal;
    line-height: 1;
    margin: 0 18px 0 0;
    outline: 0 none;
    padding: 0.785em 1.5em;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    vertical-align: baseline;
    font-size: 0.857em;
    color: #000;

    float: left;
}

.content-line a:hover {
    color: #000;
    background-color: #ADADAD;
}