{% extends "asset/abase.html" %}

{% block abc %}
    <a class="section" href="/asset/">资产</a>
    <div class="divider">/</div>
    <a class="active section" href="/asset/i">实例</a>
{% endblock %}

{% block maincontent %}
<div class="summary">

    {% block title %}
        <h3 class="ui horizontal divider header"><i class="green write chart icon"></i>
        新建
        {% block instance_type %}
        {% endblock %}
        实例
        </h3>
    {% endblock %}

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul class=flashes>
            {% for category, message in messages %}
              <li class="{{ category }}">{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    {% block form %}

    {% endblock %}
</div>
{% endblock %}
